.banner{
    z-index: 10 !important;
    cursor: pointer;
    z-index: 99;
    h1{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color: black;
        margin-top: 1vw;
        font-size: 7rem;
        letter-spacing: .1em;
        text-shadow: 
            -1px -1px 3px #373636, 
            3px 3px 5px #373636;
    }
}