.card-container{
    width: 80%;
    background-color: #d1b797;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 2em;
    .card-image{
        text-align: center;
        width: 25%;
        padding: 1vw;
        @include screen_900{
            width: 30%;
        }
        @include screen_620{
            width: 35%;
        }
        span{
            width: 100% !important;
            height: 100% !important;
        }
        img{
            width: 100% !important;
            height: 100% !important;
        }
    }
    @include screen_420{
        width: 90%;
    }

    .card-info{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1{
            text-align: center;
            font-size: 4vw;
            @include screen_900{
                font-size: 5vw;
                padding-bottom: 4vw;
            }
            @include screen_620{
                font-size: 5.5vw;
                padding-bottom: 4vw;
            }
            @include screen_420{
                font-size: 7vw;
            }
        }

        ul{
            text-align: left;
            padding-left: 3vw;
            li{
                list-style: none;
                font-size: 1.5vw;
                @include screen_900{
                    font-size: 2vw;
                }
                @include screen_620{
                    font-size: 3vw;
                }
                @include screen_420{
                    font-size: 4vw;
                }
            }
        } 
    }

}