.dashboard-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../../public/img/local3.jpeg");
    background-size: cover;
    backdrop-filter: blur(2px);


    .dashboard-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8vh;

        h2, h3{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 4vw;
            color: #e99b53;
            text-decoration: none;
            background-color: transparent;
        }
    }

}