.home-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../../public/img/local4.jpeg");
    background-size: cover;

    .home-title{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;


        h1{
            margin: 1em 0 0 1em;
            font-size: 10vw;
            color: #FB9650;
        }
    }


    .home-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0 5em 5em 0;
    
        a{
            text-decoration: none;
            font-size: 7vw;
            color: #FB9650;
            transition: all 0.4s ease;

            &:hover{
                color: white;
            }
        }
    }


    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        span{
            --opacidad-negro: 0.5;
            background: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro)));
        }

    }
}