.navbar-container{
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid black;
  position: fixed;
  z-index: 91;
  @include screen_768{
    position: relative;
  }

  .logo-benet{
    position: absolute;
    left: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    z-index: 99;
    width: 12vw;
    cursor: pointer;
    @include screen_985{
      width: 15vw;
      margin-top: 2vw;
    }
    @include screen_768{
      margin-top: 18vw;
    }
    @include screen_620{
      width: 28vw;
      margin-top: 24vw;  
    }
    @include screen_420{
      width: 30vw;
      margin-top: 28vw;  
    }
  }

  .logo-velvet{
    position: absolute;
    right: 0;
    z-index: 99;
    margin-right: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
    a{
      text-decoration: none;
      color: grey;
      animation: fadeInRight;
      animation-duration: 1s;
      transition: all 0.5s ease;
      &:hover{
          color: #e99b53;
      }
    }
    h1{
      font-size: 3vw;
      @include screen_768{
        font-size: 4.5vw;
      }
      @include screen_620{
        font-size: 5.5vw;
      }
      @include screen_420{
        font-size: 6.5vw;
      }
    }
    @include screen_768{
      margin-top: 18vw;
    }
    @include screen_470{
      margin-top: 22vw;
    }
    @include screen_420{
      margin-top: 25vw;
    }
  }

  .fondo-sepLeft{
    width: 100%;
    height: 7.5vw;
    position: absolute;
    left: 0;
    background-color: black;
    margin-top: -4vw;
    border-bottom: 5px solid #a0a0a0;
    @include screen_985{
      height: 12vw;
    }
    @include screen_768{
      height: 40vw;
    }
    @include screen_620{
      height: 53vw;
    }
    @include screen_420{
      height: 60vw;
    }
  }
  .sepLeft{
    width: 100%;
    height: 6vw;
    background:linear-gradient(black,#000000,#000000,#000000,#000000);
    transform: skewY(-4deg);
    margin-top: 5vw;
    z-index: 91;
    border-bottom: 5px solid #a0a0a0;
    @include screen_985{
      height: 10vw;
    }
    @include screen_768{
      display: none;
    }
  }
  .sepLeft2{
    width: 100%;
    height: 9vw;
    background:linear-gradient(black,#000000,#000000,#000000,#000000);
    transform: skewY(-4deg);
    z-index: 91;
    position: fixed;
    top: 0;
    @include screen_985{
      height: 13vw;
    }
    @include screen_768{
      display: none;
    }
  }
}