.navbar-container{
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid black;

  .navbar-nav{
      width: 100%;
      // background: linear-gradient(55deg,#bfa48b,#6f4218,#6f4218,#bfa48b);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 1em;
      position: absolute;
      top: 260px;


      button{
        background-color: transparent;
        color: #d1b797;
        border-color: #d1b797;

        margin: 1em;
        padding: 0.5em;
        transition: all 0.4s ease;
        font-size: 1.6vw;
        &:hover{
          // background-color: rgba(173, 66, 66, 0.782);
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          border-color: white;
          color: white;
        }

      }
    }   


}


