.nosotros-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../../public/img/local3.jpeg");
    background-size: cover;
}