.tienda-title{
    width: 100%;
    text-align: center;
    color: #d1b797;
}

.tienda-container{
    
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    // background-color: #d1b797;
    // --opacidad-negro: 0.5;

    .tienda-tabs-container{
        width: 30%;
        height: 100%;
        font-size: 2vw;
        margin: 1.2em;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
            background-color: white;
        }

        button{
            margin: 0.5em;
            background-color: transparent;
            border-color: #d1b797;
            color: #d1b797;

            &:hover{
                // background-color: rgba(173, 66, 66, 0.782);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                border-color: white;
                color: white;
              }
        }
    }

    .tienda{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }
}


