.tienda-title{
    width: 100%;
    text-align: center;
    color: black;
}

.tienda-container{
    max-height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 16vw;
    @include screen_985{
        padding-top: 20vw;
    }
    @include screen_768{
        flex-direction: column;
    }
    
    .tienda-tabs-container{
        width: 15rem;
        font-size: 1.5rem;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        @include screen_900{
            width: 11rem;
        }
        @include screen_768{
            position: relative;
            width: 90vw;
            margin: auto;
            padding-bottom: 2em;
            &::-webkit-scrollbar {
                width: 1px;
            }
        }

        button{
            margin: 0.8vw;
            border-color: #d1b797;
            color: #d1b797;
            transition: all 0.4s ease;
            background-color: black;
            @include screen_985{
                margin: 1vw;
            }
            @include screen_768{
                padding: 0vw 1vw;
            }
           
            &:hover{
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                border-color: white;
                color: white;
              }
        }
    }

    .tienda{
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        max-height: 120vh;
        min-height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-left: 1px solid black;
        margin-top: -200px;
        padding-top: 200px;
        --opacidad-negro: 0.5;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../../public/img/local4.jpeg");
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 5rem;
        margin-left: 15rem;
        &::-webkit-scrollbar {
            width: 0px;
        }
        @include screen_900{
            margin-left: 11rem;
        }
        @include screen_768{
            margin-left: 0rem;
            margin-top: 0px;
            padding-top: 0px;
        }
    }

    .filtros-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: scroll;
        min-height: 18rem;
        max-height: 18rem;
        &::-webkit-scrollbar {
            width: 3px;
        }
        @include screen_768{
            flex-direction: row;
            min-height: auto;
            overflow-y: hidden;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                height: 3px;
            }
        }
    }
}


