.tienda-container{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    --opacidad-negro: 0.5;



    .tienda-title-container{
        font-size: 2vw;
        margin: 2em;
        color: antiquewhite;
    }

    .tienda{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    }
}