@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&family=Sen&family=Skranji&display=swap');

@import './mixins.scss';

@import "./components/navbar";
@import "./components/nosotros";
@import "./components/tienda";
@import "./components/home";
@import "./components/cardProducto";
@import "./components/carousel";
@import "./components/dashboard";
@import "./components/dashboardAddProducto";
@import "./components/dashboardProductos";
@import "./components/dashboardLogin";


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
}

body{
    background-color: #a0a0a0 !important;
}

.root{
    width: 100%;
    height: auto;
    background-color: #a0a0a0;
}

.cargarMas{
    text-align: center;
    color: white;
    font-size: 2vw;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2vw;
    &:hover{
        text-decoration: underline;
    }
}
.loading{
    margin-bottom: 2vw;
    img{
        background-color: transparent;
    }
}

*::-webkit-scrollbar {
    width: 6px;
    margin:10px;
}
*::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2vw;
}

